.titulo-dolar{
    font-size: 1em;
}
.valor-dolar{
    font-weight: bold;
}
.card-title{
    font-size: 1.2em!important;
}
.variacion{
    font-size: 0.5em;
}

@media only screen and (min-width: 601px){
    .container {
        width: 85%!important;
    }
}

.titulo-noticia{
    font-weight: bolder!important;
    text-shadow: 3px 3px 5px black;
}
.sidenav{
    z-index: 999999;
}
body{
    background-attachment: fixed;
    background-image: url(../img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

html{
    overflow-x: hidden;
}